
# Stuff on OpenNeuro
/sub-*/
/stimuli/

/dataset_description.json
/participants.tsv
/participants.json
/task-postscan_events.json

/README_openneuro.md
/derivatives/fmriprep/
/derivatives/GLMsingle/

# Some other stuff
/derivatives/localizer_parcelmaps/
/derivatives/analyses/processed_betas/*/*stat-alltrialsdf

# file too large so upload only zip version
/derivatives/model_and_behavioural_representations/ME/motion_energies_test_middle10s 

# macOS files
.DS_Store