# ---------------------------------
# OpenNeuro / BIDS dataset
# Stored publicly on OpenNeuro
# ---------------------------------

/sub-*/
/stimuli/

/dataset_description.json
/participants.tsv
/participants.json
/task-postscan_events.json

/README_openneuro.md
/derivatives/fmriprep/
/derivatives/GLMsingle/
/derivatives/localizer_parcelmaps/
/derivatives/analyses/
# file too large so upload only zip version
/derivatives/model_and_behavioural_representations/ME/motion_energies_test_middle10s 


# ---------------------------------
# macOS
# ---------------------------------

.DS_Store